<footer id="footer">
    <ul class="icons">
        <li>
            <a href="https://twitter.com/S4R4HTONIN" class="icon brands alt fa-twitter">
                <span class="label">Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sarahtonindesigns/" class="icon brands alt fa-facebook-f">
                <span class="label">Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/s4r4hthomas/" class="icon brands alt fa-linkedin-in">
                <span class="label">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/sarahtonindesigns/" class="icon brands alt fa-instagram">
                <span class="label">Instagram</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/s4r4htonin" class="icon brands alt fa-github">
                <span class="label">GitHub</span>
            </a>
        </li>
    </ul>
    <ul class="copyright">
        <li>Sarahtonin Designs</li>
        <li>Website by: <a href="https://www.facebook.com/s4r4htonin">Sarah Thomas</a>
        </li>
    </ul>
</footer>
   
   
   
   
   
   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>