<%- include("./partials/header") %>

<h1 id="aboutHeader">S4r4htonin</h1>
<div id="imgDiv">
    <img id="aboutPhoto" src="https://res.cloudinary.com/sarahtonin-designs/image/upload/v1581616725/IMG_3073_copy_fkulgt.jpg" alt="">
</div>

<div class="container">
    <div id="aboutText" class="jumbotron">
        <p>Hey, it's Sarah. I started Sarahtonin Designs as a way to showcase the outfits I was making to wear to music festivals back in 2014. 
           Over the years, I taught myself how sew, solder, and program wearable circuits into my designs. 
           What started as a means of self expression has grown into so much more. 
           I never thought that so many people would find joy in the outfits that I create.
        </p>
        <p>
           If you are interested in a custom LED outfit, please contact me through the form above. 
        </p>
    </div>
</div>

<%- include("./partials/footer") %>