<%- include("./partials/header") %>

<div class="container-fixed">
    <h1>Sarahtonin Designs</h1>
</div>
<div class="container-fixed" id="projectsContainer">
    <!-- <h2>Recent Work</h2> -->
    <div class="container ">
        <div class="row">
            <!-- for loop to iterate over projects and make a card for each one -->
                <!-- Display index image -->
                <!-- Display project name -->
                <!-- Ability to click -> show page with more photos/info about project -->
        </div>
    </div>
</div>

<%- include("./partials/footer") %>