<%- include("./partials/header") %>

<div class="container-fixed">
    <h1>Sarahtonin Designs</h1>
</div>
<div class="container-fixed" id="projectsContainer">
    <!-- <h2>Recent Work</h2> -->
    <div class="container ">
        <div class="row">
            <div class="col-sm">
                <!-- <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div> -->
            </div>
            <div class="col-sm">
                <!-- <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div> -->
            </div>
            <div class="col-sm">
                <!-- <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div> -->
            </div>
        </div>
    </div>
</div>



<%- include("./partials/footer") %>