html {
    height: 100%; 
}

body {
    background-image: url(/imgs/Wave8.svg);
    background-color: #070f3c;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 5%;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 3px #00ffffbb, 
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

label {
    color: white;
}

#projectsContainer {
    margin-top: 10%;
    text-align: center;
    color: white;
}

.formStyling {
    max-width: 75%;
    margin: 25px auto;
}