<%- include("../partials/header") %>

<h1>Edit <%= project.name %> </h1>

<div class="container">
    <div class="formStyling">
        <form action="/projects" method="POST">
            <div class="form-group">
                <label class="pull-left" for="project[name]">Name</label>
                <input class="form-control" type="text" name="project[name]" autofocus required>
            </div>
            <div class="form-group">
                <label class="pull-left" for="project[images]">Index Image</label>
                <input class="form-control" type="text" name="project[images]" autofocus required>
            </div>
            <div class="form-group">
                <label class="pull-left" for="project[description]">Description</label>
                <textarea rows="8" class="form-control" name="project[description]" autofocus required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-block btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>